.icon {
    height: 5cm;
    width: 5cm;
}

.nav-link {
    width: 70px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }

        .w3-third img {
            margin-bottom: -6px;
            opacity: 0.8;
            cursor: pointer
        }

        .w3-third img:hover {
            opacity: 1
        }

        .contact-flex {
            display: flex;
            justify-content: end;
            align-item: center;
        }

        .social-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 50px;
            margin-right: 55px;
            margin-left: 150px;
        }

        nav a {
            transition: 0.5s;
        }

        nav a:hover {
            letter-spacing: 2px;
        }